body {
  margin: 0;
  background-color: #0B1A31
;
  cursor: none;
}

.maintext {
  width: 100vw;
  height: 100vh;
  font-family: "minion-pro", serif;
  font-weight: 400;
  font-style: normal;
  color: #1d1f1e;
  font-size: 0.8rem;
  overflow: hidden;
  line-height: 0.8rem;
  display: flex;
  justify-content: space-between;
  text-align: justify;
}

.spotlight {
  position: absolute;
  width: 4cm;
  height: 4cm;
  background: radial-gradient(
    circle at center,
    rgba(255, 255, 255, 0.4) 0%,
    rgba(255, 255, 255, 0) 0%
  );
  border-radius: 50%;
  pointer-events: none;
  animation: fadeIn 0.25s;
}

.highlight {
  color: #424242;
  z-index: -1;
}
